* {
  box-sizing: border-box;
  margin: 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}

.nav ul li {
  margin: 10px;
}

.nav ul .categories {
  /* flex: flex-grow flex-shrink flex-basis */
  order: 0;
  flex-grow: 3;
  flex-shrink: 2;
  flex-basis: 30%;
  align-self: center;
  background: yellow;
}

.nav ul .orders {
  /* flex: flex-grow flex-shrink flex-basis */
  order: 1;
  flex-grow: 1;
  flex-shrink: 5; 
  flex-basis: 30%;
  align-self: center;
  background: red;
}

.nav ul .logOut {
  /* flex: flex-grow flex-shrink flex-basis */
  order: 2;
  flex-grow: 1;
  flex-shrink: 3;
  flex-basis: 30%;
  align-self: center;
  background: blue;
}